.image-preview-container {
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  border: 1px dashed var(--ion-color-medium);
  border-radius: 5px;
  overflow: hidden;

  ion-img {
    width: 100%;
    height: auto;
  }
}
