ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  ion-card-header {
    padding: 10px;
    flex-grow: 1;
  }

  ion-card-title {
    font-size: 1rem;
    font-weight: bold;
  }
}

.image-container {
  position: relative;

  .secure-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 1.5rem;
    background-color: rgba(var(--ion-color-dark-rgb), 0.5);
    border-radius: 50%;
    padding: 4px;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
